<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>MS Dental clinic reminds you about scheduled appointment with doctor</h1>
        <p>
            Doctor name:
        </p>
        <p>
            <%= @appointment.doctor.name %>
        </p>
        <p>
            Appointment Date: <%= @appointment.date %>
        </p>
        <p>
            <%= link_to 'Appointment link: ', appointment_path(appointment) %>
        </p>
        <p>
            Please don't forget to come 15 minutes before the agreed time.
        </p>
        <p>Kinds regards ad see you soon!</p>
    </body>
</html>