<h1>Schedule new appointment</h1>
<%= form_with scope: :appointment, url: appointments_path, local: true do |form| %>
  <p>
    <%= form.label :date %><br>
    <%= form.text_field :date %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>