<p>
  <strong>Appointment date:</strong>
  <%= @appointment.date %>
</p>
<p>
  <strong>Created Date:</strong>
  <%= @appointment.created_at %>
</p>
<%= link_to 'Edit', edit_appointment_path(@article) %> |
<%= link_to 'Back', appointments_path %>